* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f7f5f2;
}

.parent-nav-container {
  display: flex;
  justify-content: space-between;
  height: 50px;
  background: white;
}

.logo {
  display: flex;
  align-items: center;
}

h1 {
  /* margin-right: 20px; */
  padding: 15px;
}

.img-logo {
  width: 50px;
}

.navbar-line-3 {
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
  color: black;
  height: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

a:hover {
  background-color: bisque;
}

.parent-nav-container ul {
  display: flex;
  list-style-type: none;
  margin-right: 5px;
  padding: 30px;
}

li {
  margin-right: 20px;
  font-size: 20px;
  font-weight: lighter;
}

h2 {
  text-align: center;
  font-size: 40px;
  background-color: rgba(128, 128, 128, 0);
  font-weight: 400px;
  /* font-size: 32px; */
  margin-top: 70px;
}
.navbar-line-3 button {
  width: 150px;
  height: 50px;
  background: #0061fe;
  color: white;
  border: none;
}

.container {
  display: flex;
  justify-content: center;
  /* border: 2px solid black; */
  margin-top: 60px;
}

.child-container {
  width: 570px;
  height: 280px;
  background: white;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.child-container p,
h3 {
  padding: 5px;
  margin: 10px;
  font-size: 20px;
  font-family:inherit
}

.child-container > p {
  font-size: 20px;
  height: 50px;
  text-align: left;
  font-weight: lighter;
}

h3 {
  font-size: 35px;
  font-weight: bold;
}

.child-container button {
  background: #0061fe;
  height: 70px;
  width: 535px;
  color: #f7f5f2;
  border: none;
  padding-right: 380px;
  margin: 18px;
  font-size: 16px;
}

.line-between {
  border-right: 1px solid rgba(0, 0, 0, 0.16);
}

.dropbox-img-guide {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.guidlines {
  display: flex;
  justify-content: center;
}

.div-work {
  background: rgb(178, 169, 169);
  height: 200px;
  width: 570px;
}
.sec-2 {
  background: black;
  margin: 60px auto;
  color: white;
  /* height: 1000px; */
  padding: 50px;
}

.sec-2 h4,
.sec-2 p {
  text-align: center;
  font-size: 15px;
}

.sec-2-container {
  display: flex;
  justify-content: space-around;
  /* border: 2px solid white; */
  margin-top: 100px;
}

.sec-2-child {
  display: flex;
  flex-direction: column;
  /* border: 2px solid white; */
  width: 30%;
}

.sec-2-child > p {
  margin: 20px 0;
}

.sec-2-child > i {
  margin: 20px 0;
  font-size: 30px;
}

.sec-2-child > p,
.sec-2-child h5 {
  text-align: left;
  font-size: 18px;
}

.sec-3 h4,
.sec-3 > p {
  text-align: center;
  margin: 20px;
  font-size: 18px;
  padding: 10px;
}
.sec-3-container {
  display: flex;
  justify-content: center;
  /* border: 5px solid brown; */
  margin: 60px;
}

.sec-3-img-grandchild {
  width: 350px;
  height: 350px;
  background: #eee9e2;
  margin-right: 40px;
  padding: 30px;
}

.sec-3-grandchild {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* border: 2px solid black; */
  width: 300px;
  height: 150px;
}

.sec-3-grandchild > h5,
.sec-3-grandchild > p {
  margin-top: 10px;
  font-weight: lighter;
  font-family: inherit;
  padding: 4px;
}

.sec-3-grandchild > p {
  font-size: 16px;
}
.sec-3-grandchild > h5 {
  font-size: 22px;
  font-weight: bold;
}

.square-img {
  width: 100%;
  height: 100%;
}

.sec-4 {
  background: #1e1919;
  color: white;
  margin-top: 100px;
}

.sec {
  margin: 40px;
}

.sec-4 > h4 {
  text-align: center;
  margin: 30px;
  font-size: 50px;
  padding: 70px;
}

.sec-4-img {
  width: 140px;
  height: 40px;
  margin-top: 0px;
}

.sec-4-container {
  display: flex;
  margin: 45px;
}

#sec-4-square-img {
  width: 600px;
  height: 500px;
  background: hsl(192, 90%, 51%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.sec-4-child-container {
  width: 600px;
  height: 500px;
  background: white;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 18px;
}

.sec-4-grandchild {
  font-size: 25px;
  margin: 20px 30px;
  
}

.sec-4-grandchild > a {
  font-size: 16px;
  margin-top: 20px;
}

#link:hover {
  background: none;
  border-bottom: 2px solid black;
}

.sec-4 > P {
  text-align: center;
  margin-top: 60px auto;
  padding: 30px;
  color: grey;
  font-size: 25px;
}

.sec-5-content > p,
.sec-5-content h4 {
  text-align: center;
  font-size: 20px;
  padding: 15px;
  margin-top: 10px;
}
.sec-5-content h4 {
  font-size: 50px;
  font-weight: lighter;
  font-family: "Times New Roman", Times, serif;
}

.sec-5 > h5 {
  width: 400px;
  font-size: 17px;
  font-weight: bold;
}

.sec-6 > p,
.sec-6 h4 {
  text-align: center;
  padding: 10px;
}

.sec-6 h4 {
  padding: 20px;
  font-size: 45px;
  margin-top: 20px;
}

.sec-6 > p {
  font-size: 20px;
}

form {
  margin: 30px 115px;
}

.sec-6-container {
  display: flex;
  justify-content: center;
  margin: 40px 20px 0px 20px;
  /* border: 3px solid yellow; */
}

.sec-6-child-cont {
  width: 350px;
  height: 350px;
  background: white;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  font-size: 20px;
}

.sec-6-button {
  width: 270px;
  height: 60px;
  border: none;
  background: #0061fe;
  color: white;
}
.sec-6-child-cont > a {
  display: inline-block;
}
.plans-link:hover {
  background: none;
  border-bottom: 2px solid #0061fe;
}

.butt {
  margin-bottom: 80px;
}
.bold {
  font-size: 40px;
  margin-top: 10px;
  /* font-weight: bold; */

}

.c-grey {
  color: grey;
}

.bold-money {
  font-size: 17px;
  font-weight: bold;
}

.sec-6b-container {
  display: flex;
  justify-content: center;
  margin-bottom: px;
  /* border: 2px solid red; */
}

.sec-6b-child-cont {
  background: #eee9e2;
  padding: 20px;
  width: 350px;
  height: 200px;
}
.in-space {
  margin: 20px;
  /* font-size: 17px; */
}

.sec-7-container {
  display: flex;
  justify-content: space-around;
  /* border: 3px solid red; */
  width: 1030px;
  margin: 0 auto;
}

.sec-7-child-cont {
  margin: 50px;
  font-size: 17px;
}
.width-1 {
  width: 400px;
  height: 300px;
  padding: 5px;
}

.width-2 {
  width: 380px;
  height: 250px;
  padding: 5px;
}

.width-3 {
  width: 500px;
  padding: 5px;
  
}

h6 {
  font-size: 20px;
  font-weight: bold;
}

.space-7 {
  margin: 10px;
  display: flex;
}


.sec-7-container .fa-check{
  color: #0061fe;
  margin-right: 10px;
  font-size: 13px;
  
}


.sec-6b-child-cont > p{
  display: flex;
}


.fa-user, .fa-briefcase, .fa-face-smile, .icons{
  margin-right: 10px;

}

.icons{
  font-size: 15px;

}

